.awesome {
    background-color: #BADA55; 
    border-radius: 5px; 
    max-width: 20rem; 
    padding: 2em 1em; 
    text-align: center; 
    color: #333; 
}

/* fixed positioning */ 

/*.box-1 {
   position: fixed;
   top: 0px; 
   right: 0;  
}*/ 

/* relative positioning */ 

/*.box-2 {
position: relative; 
top: 50px;
}
*/

/* absolute positioning */
/*parent element */ 
/*.position {
  height: 60vh; 
  width: 90%; 
  background-color: #C0FFEE; 
  position: relative; 
}*/ 

/* child element */ 
/*.awesome {
    position:absolute; 
    bottom: 0; 
    right: 0; 
}*/

/* sticky positioning */ 

/*.position {
    height: 200vh; 
    width: 90%; 
    background-color: #C0FFEE; 
}

.awesome {
    position: sticky; 
    top: 10px; 
}*/ 


/* Z- Index */ 

.awesome {
    position: fixed; 
    top: 25px; 
}

.box-2 {
    background-color: #C0FFEE;  
}

.box-1 {
    z-index: 2; 
}







